/*                                  CSS                                       */
@charset "UTF-8";
@font-face
{
  font-family:'Bubblegum';
  src: url("../_fonts/bubblegum-sans-regular.otf");
}

*
{

}

body
{
  background-color:#DDD;
  color:rgba(0,0,0,1);
}

#interface
{
  width:900px;
  margin:-20px auto 10px auto;
  background-color:#FFF;
  box-shadow:0px 0px 10px rgba(0, 0, 0, .5);
  padding:10px;
}

p
{
  text-align:justify;
  text-indent:50px;
}

#cabecalho
{
  border-bottom:1px solid #DDD;
  height:150px;
  background:url("../_imagens/glass-logo-peq.jpg");
  background-repeat:no-repeat;
  background-position:0px 90px;
}

#cabecalho h1
{
  font-family:'Bubblegum',sans-serif;
  font-size:30pt;
  color:#606060;
  text-shadow:1px 1px 1px rgba(0,0,0,.6);
  margin-bottom:0px;
  padding:0px;
}

#cabecalho h2
{
  font-family:Arial, sans-serif;
  font-size:15pt;
  color:#888;
  text-shadow:1px 1px 1px rgba(0, 0, 0, .6);
  margin-top:0px;
  padding:0px;
}

#cabecalho #icone
{
  position:absolute;
  top:70px;
  left:950px;
}

/*  FORMATAÇÃO DE IMAGENS COM LEGENDA */

.foto-legenda
{
  position:relative;
  border:8px solid #FFF;
  box-shadow:1px 1px 4px #000;
}

.foto-legenda img
{
  width:100%;
  height:100%;
}

.foto-legenda figcaption
{
  opacity:0;
  position:absolute;
  top:0px;
  background-color: rgba(0,0,0,.4);
  color:#FFF;
  width:100%;
  height: 100%;
  padding:10px;
  box-sizing:border-box;
  transition: opacity 1s;
}

.foto-legenda:hover figcaption
{
  opacity:1;
}

/*  ESTILIZACAO DO MENU    */

#menu
{
  display:block;
}

#menu h1
{
  display:none;
}

#menu ul
{
  list-style:none;
  text-transform:uppercase;
  position:absolute;
  top:-20px;
  left:300px;
}

#menu li
{
  display:inline-block;
  background-color:#DDD;
  margin:2px;
  padding:10px;
}

#menu li:hover
{
  background-color:#606060;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;

}

#menu a
{
  color:#000;
  text-decoration:none;
}

#menu a:hover
{
  color:#FFF;
  transition:color 1s;
}
